{{ define "customScripts" }}
<script>
  const code = "{{ .code }}"

  function startSession() {
    const privacyModal = document.getElementById('privacyModal');
    const loadingModal = document.getElementById('loadingModal');

    const startButton = privacyModal.querySelector('.button.is-primary.start');
    privacyModal.classList.add("hidden")
    loadingModal.classList.remove("hidden")

    const videos = document.getElementById('videos');
    const controls = document.querySelector('.controls')
    //videos.classList.remove("hidden")
    controls.classList.remove("hidden")
    startLocalVideo()
  };

  function copyToClipboard() {
    var copyText = document.getElementById("copyCode");
    copyText.select();
    document.execCommand("copy");
    console.log("copied code: " + copyText.value);
  }

  function goToRoom() {
    var code = document.getElementById("copyCode").value;
    window.location.href = "/room?id=" + code;
  }

  function loadJoinModal() {
    let menu = document.getElementById('mainMenu');
    let joinModal = document.getElementById('joinModal');
    menu.classList.add("hidden")
    joinModal.classList.remove("hidden")
  }

  function hideJoinModal() {
    let menu = document.getElementById('mainMenu');
    let joinModal = document.getElementById('joinModal');
    menu.classList.remove("hidden")
    joinModal.classList.add("hidden")
  }

  function updateStatusText(message) {
    let status = document.getElementById('status-text');
    status.innerText = message
  }
</script>
{{end}}