{{ define "customScripts" }}
<script>
  const code = "{{ .code }}"
  const privacyModal = document.getElementById('privacyModal');
  const startButton = privacyModal.querySelector('.button.is-primary.start');
  startButton.onclick = async () => {
    privacyModal.classList.add("hidden")
    const videos = document.getElementById('videos');
    const controls = document.getElementsByClassName('controls')[0]
    videos.classList.remove("hidden")
    controls.classList.remove("hidden")
    startLocalVideo()
  };

  function copyToClipboard() {
    var copyText = document.getElementById("copyCode");
    copyText.select();
    document.execCommand("copy");
  }
</script>
{{end}}