{{ define "websocket" }}
<p id="output"></p>

<script>
  function startwebsocket(offer) {
    if (offer.sdp == "") {
      console.log("invalid offer", offer)
      return
    }
    var loc = window.location;
    var uri = 'ws:';
    if (loc.protocol === 'https:') {
      uri = 'wss:';
    }
    uri += '//' + loc.host + '/ws';
    ws = new WebSocket(uri)
    ws.json = (obj) => ws.send(JSON.stringify(obj));
    ws.onopen = function() {
    console.log('Connected')
    const userId = crypto.randomUUID().split("-")[0];
    const msg = { 
        message: "hello",
        user: userId,
        offer: offer.sdp,
        code: "{{ .code }}",
    }
    console.log(msg)
    ws.json(msg);
  }

  ws.onmessage = function(evt) {
    console.log(evt.data)
  }
  }


</script>
{{ end }}