*,
*:after,
*:before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-image: radial-gradient(#7d0e9e, #000 100%);
  line-height: 1.5;
  font-family: "Outfit", sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

button {
  border-radius: 1em;
}

button,
input,
select,
textarea {
  font: inherit;
}

a {
  color: inherit;
}

/* End basic CSS override */

* {
  scrollbar-width: 0;
}

*::-webkit-scrollbar {
  background-color: transparent;
  width: 12px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 99px;
  background-color: #ddd;
  border: 4px solid #fff;
}

.modal {
  color: lightgray;
  display: contents;
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0.5em;
}

.modal > div {
  margin: 0.5em;
}

.modal-container {
  padding: 1em;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #121212;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 15px 30px 0 rgba(#000, 0.25);
}

.modal-container-header {
  z-index: 4;
  padding: 16px 32px;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-container-title {
  display: flex;
  align-items: center;
  gap: 8px;
  line-height: 1;
  font-weight: 700;
  font-size: 1.125;

  svg {
    width: 32px;
    height: 32px;
    color: #750550;
  }
}

.modal-container-body {
  z-index: 4;
  padding: 24px 32px 51px;
  overflow-y: auto;
}

/*// Glow Border Animation //*/

.animated-border-box,
.animated-border-box-glow {
  max-height: 90%;
  width: 600px;
  max-width: 95%;
  position: absolute;
  overflow: hidden;
  z-index: 2;
  /* Border Radius */
  border-radius: 1.7em;
}

.animated-border-box-glow {
  overflow: hidden;
  /* Glow Blur */
  filter: blur(50px);
}

.animated-border-box:before,
.animated-border-box-glow:before {
  content: "";
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  position: absolute;
  width: 250%;
  height: 250%;
  background-repeat: no-repeat;
  background-position: 0 0;
  /*border color, change middle color*/
  background-image: conic-gradient(
    rgba(0, 0, 0, 0),
    #1976ed,
    rgba(0, 0, 0, 0) 50%
  );
  /* change speed here */
  animation: rotate 10s linear infinite;
}

.animated-border-box:after {
  content: "";
  position: absolute;
  z-index: 1;
  /* border width */
  left: 5px;
  top: 5px;
  /* double the px from the border width left */
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  /*bg color*/
  background: #292a2e;
  /*box border radius*/
  border-radius: 1.5em;
}

@keyframes rotate {
  100% {
    transform: translate(-50%, -50%) rotate(1turn);
  }
}

.center-box {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1d1e22;
}

.rtf {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
  }

  h1 {
    font-size: 1.5rem;
    line-height: 1.125;
  }

  h2 {
    font-size: 1.25rem;
    line-height: 1.25;
  }

  h3 {
    font-size: 1rem;
    line-height: 1.5;
  }

  & > * + * {
    margin-top: 1em;
  }

  & > * + :is(h1, h2, h3) {
    margin-top: 2em;
  }

  & > :is(h1, h2, h3) + * {
    margin-top: 0.75em;
  }

  ul,
  ol {
    margin-left: 20px;
    list-style-position: inside;
  }

  ol {
    list-style: numeric;
  }

  ul {
    list-style: disc;
  }
}

.modal-container-footer {
  z-index: 4;
  padding: 20px 32px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-top: 1px solid #ddd;
  gap: 12px;
  position: relative;

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: -51px;
    left: 24px;
    right: 24px;
    height: 50px;
    flex-shrink: 0;
    background-image: linear-gradient(to top, rgba(#fff, 0.75), transparent);
    pointer-events: none;
  }
}

.button {
  text-decoration: none;
  padding: 1em;
  border-radius: 1em;
  background-color: #2d232e;
  color: lightgray;
  border: 0;
  font-weight: 600;
  cursor: pointer;
  transition: 0.15s ease;
  display: flex;

  &.is-ghost {
    &:hover,
    &:focus {
      background-color: black;
    }
  }

  &.is-primary {
    background-color: #7d0e9e;

    &:hover,
    &:focus {
      background-color: #4a0433;
    }
  }
}

.padded-right {
  margin-right: 1em;
}

.icon-button {
  padding: 0;
  border: 0;
  background-color: #dfdad7;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.15s ease;

  svg {
    width: 24px;
    height: 24px;
  }

  &:hover,
  &:focus {
    background-color: gray;
  }
}

.hidden {
  display: none !important;
}
