video {
  width: 100%;
}

#controls {
  z-index: 4;
  position: fixed;
  bottom: 0em;
  display: flex;
  flex-direction: column;
  padding: 1em;
  align-items: center;
  width: 100%;
  transition: 0.5s;
}

@media only screen and (max-width: 800px) {
  #controls {
    bottom: -6em;
  }

  #ctab {
    display: flex !important;
  }
}

#ctab {
  display: none;
  transition: 0.6s;
}

.fly-in {
  bottom: 0em !important;
}

#ctab.fly-in {
  transform: rotate(180deg);
}

.control-options {
  padding-top: 2em;
  display: flex;
  flex-direction: row;
}

#localVideo:hover {
  width: 85%;
  cursor: pointer;
}

#localVideo {
  -webkit-transition: width 0.5s ease-in-out;
  -moz-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
  width: 10em;
  max-width: 30em;
  height: auto;
  width: 25%;
  right: 0;
  bottom: 0;
  margin-bottom: 1em;
  margin-right: 1em;
  position: fixed;
  z-index: 3;
}

#video-container {
  display: grid;
  position: fixed;
  width: 100%;
  max-height: 100%;
  gap: 0;
  /* No gap between grid items */
}

#video-container>div {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Default: single column */
#video-container.single {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  max-width: 1000px;
  max-height: 100%;
}

/* 2 children: side-by-side */
#video-container.two {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

/* 3-4 children: 2x2 grid */
#video-container.three,
#video-container.four {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

#video-container.three>div:nth-child(3) {
  grid-column: span 2;
  justify-self: center;
}

/* 5-6 children: 3x2 grid */
#video-container.five,
#video-container.six {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

#video-container.five>div:nth-child(4),
#video-container.five>div:nth-child(5) {
  grid-column: span 2;
  justify-self: center;
}

/* 7-9 children: 3x3 grid */
#video-container.seven,
#video-container.eight,
#video-container.nine {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

@media (max-aspect-ratio: 2/3) {
  /* 2 children: side-by-side */
  #video-container.two {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  /* 5-6 children: 3x2 grid */
  #video-container.five,
  #video-container.six {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

.remote-views {
  background-color: black;
  border-color: #1976ed;
  border-style: solid;
  border-radius: 1em;
}

.video-overlay {
  display: flex;
  flex-basis: content;
  padding: 1em;
  align-items: flex-start;
}

.video-overlay>p {
  margin: 0;
  color: rgba(255, 255, 255, 0.5);
}

video {
  border-radius: 0.85em;
}