
#controls {
  z-index: 4;
  position: fixed;
  bottom: 0em;
  display: flex;
  flex-direction: column;
  padding: 1em;
  align-items: center;
  width: 100%;
  transition: 0.5s;
}

@media only screen and (max-width: 800px) {
  #controls {
    bottom: -6em;
  }

  #ctab {
    display: flex !important;
  }
}

#ctab {
  display: none;
  transition: 0.6s;
}

.fly-in {
  bottom: 0em !important;
}

#ctab.fly-in {
  transform: rotate(180deg);
}

.control-options {
  padding-top: 2em;
  display: flex;
  flex-direction: row;
}

#localVideo:hover {
  width: 85%;
  cursor: pointer;
}

#localVideo {
  -webkit-transition: width 0.5s ease-in-out;
  -moz-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
  width: 10em;
  max-width: 30em;
  height: auto;
  width: 25%;
  right: 0;
  bottom: 0;
  margin-bottom: 1em;
  margin-right: 1em;
  position: fixed;
  z-index: 3;
}

/* Main container spans the full viewport */
#video-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em; /* Spacing between grid items */
  box-sizing: border-box; /* Includes padding/border in dimensions */
  overflow: hidden; /* Prevents any overflow */
  padding: 1em; /* Optional: Padding around the grid */
  max-width: 1200px;
  max-height: 1000px;
  width: 100%;
  height: 100%;
}

.four {
  grid-template-columns: repeat(2, 1fr) !important; /* Two columns */
}

/* Medium screens - 2x2 layout */
@media (min-width: 801px) and (max-width: 1200px) {
  #video-container {
    grid-template-columns: repeat(2, 1fr); /* Two columns */
  }
}

/* Large screens - 3x1 or 3x2 layout */
@media (min-width: 1201px) {
  #video-container {
    grid-template-columns: repeat(3, 1fr); /* Three columns */
  }
}


#video-container {
  display: grid;
  gap: 1em;
}

/* Styling for each video container */
#video-container > div {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Ensures no content spills out */
  background-color: black;
  border: 2px solid #1976ed;
  border-radius: 1em;
  width: 100%; /* Ensures it fully fills the grid cell */
  height: 100%; /* Ensures it fully fills the grid cell */
}

/* Video styling */
video {
  width: 100%; /* Ensures it fully fills the parent container */
  height: 100%; /* Ensures it fully fills the parent container */
  border-radius: 0.85em;
  display: block;
  object-fit: cover; /* Ensures the video covers its container proportionally */
}

.video-overlay {
  width: 100%;
  text-align: center;
}

.video-overlay > p {
  margin: 0;
  color: rgba(255, 255, 255, 0.8);
  padding-top: 1.5em;
}
