{{ define "modalBody" }}

{{ if eq .modalType "privacy" }}
<h2>Are you ready to join the live room?</h2>
<p>
  Your browser will ask for permission to your <b>camera</b> and <b>microphone</b> to begin the
  session. Information such as your <b>internet address</b> will also be sent for others to be
  able to connect.
  This information is only stored for the time you are connected for the session. The
  moment you disconnect, your information is erased. Below is a code you can share for anyone else
  to join this session.
  <br><br>
  <b></b>
<div style="padding:1em;background-color:black;display:flex">
  <input style="width:100%" type="text" value="{{ .code }}" id="copyCode">
  <span onclick="copyToClipboard()" class="material-symbols-outlined button">
    content_copy
  </span>
</div>
<br><br>
This key is present in the URL and any share link you provide.
<br><br>
NOTE: Giving anyone access to this key provides them with the ability to connect to this room
and view the your camera and microphone that you are sharing.
</p>
{{end}}
{{ if eq .modalType "join" }}
<h2>Enter the code provided to you:</h2>
<div style="padding:1em;background-color:black;display:flex">
  <input style="width:100%" type="text" placeholder="enter room code" value="" id="copyCode">
</div>
</p>
{{ end }}

{{end}}