{{ define "modalTemplate" }}
<div id="{{.modalType}}-modal" class="modal {{.hidden}}">
  <div class="animated-border-box-glow"></div>
  <article class="modal-container animated-border-box">
    <header class="modal-container-header">
      <h1 class="modal-container-title">
        {{ template "modalHeader" . }}
      </h1>
    </header>
    <section class="modal-container-body rtf">
      {{ template "modalBody" . }}
    </section>
    {{ template "modalFooter" . }}
  </article>
</div>
{{ end }}