<!DOCTYPE html>
<html lang="en">

<head>
  {{ template "components/headerInfo.html" }}
  <style>
    {{ template "css/roomStyle.css" }}
  </style>
</head>

<body>
  {{ template "components/modals/privacyModal.html" . }}
  {{ template "components/modals/loadingModal.html" . }}
  <video id="localVideo" class="hidden" autoplay muted playsinline></video>
  <div id="video-container" class="hidden">
  </div>
  <div id="controls" class="hidden">
    <div id="ctab" onclick="showControls()" class="button"><span
        class="material-symbols-outlined">keyboard_arrow_up</span></div>
    <div class="control-options">
      <!--
      <div id="switchButton" class="button padded-right" onclick="switchMedia()"><span
          class="material-symbols-outlined">
          cameraswitch
        </span>
      </div>
      -->

      <div id="muteButton" class="button padded-right" onclick="toggleMute()">Mute</div>
      <div id="vidButton" class="button padded-right" onclick="toggleVid()">Disable Video</div>
      <a class="button" href="/">
        Leave
        <span style="margin-left: 4px" class="material-symbols-outlined">
          exit_to_app
        </span>
      </a>
    </div>
  </div>

  <script>
    {{ template "js/signaling.js". }}
    {{ template "js/customScripts.js". }}
    {{ template "js/videoControls.js". }}
    {{ template "js/room.js" }}
  </script>

</body>

</html>