<!DOCTYPE html>
<html lang="en">

<head>
  <title>Hi Time Live</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="author" content="Graham Steffaniak">
  <meta name="msapplication-TileColor" content="#7d0e9e">
  <meta name="theme-color" content="#7d0e9e">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  {{ template "baseStyle" }}
</head>

<body>
  <div>
    Sorry, not a valid room
  </div>
</body>

</html>